.hidden {
    display: none;
}

@font-face {
    font-family: 'Montserrat';
    src: url('..fonts/montserrat-variablefont_wght-webfont.woff') format('woff'),
         url('../fonts/montserrat-variablefont_wght-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Syne';
    src: url('../fonts/syne-variablefont_wght-webfont.woff') format('woff'),
         url('../fonts/syne-variablefont_wght-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#container {
    width: 428px;
    margin: 20px auto;
    border: solid 2px #034c544f;
    background-color: white;
    border-radius: 20px;
}

#mainContent {
    display: grid;
    grid-template-columns: repeat(4, 85px);
    grid-column-gap: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    grid-column: 1/-1;
    background-image: url(../images/texture.jpg);
    background-repeat: no-repeat;
    border-radius: 10px 10px 0 0;
    border-bottom: 5px solid rgb(255, 149, 0);
    
}

header h2 {
    font-family: "Syne", sans-serif;
    font-size: 48px;
    letter-spacing: 10px;
    text-align: center;
    color: white;
}

article {
    grid-column: 1/-1;
}

h3 {
    font-family: "Syne", sans-serif;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #034c54;
}

h4 {
    font-family: "Syne", sans-serif;
    font-size: 18px;
    line-height: 120%;
    text-decoration: underline;
    text-align: center;
    color: #a95502;
}

p {
    text-align: justify;
    font-family: "Syne", sans-serif;
    font-size: 12px;
    color: #034c54;
    opacity: 75%;
}

h5 {
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #034c54;
    opacity: 75%;
    letter-spacing: 0;
}

h5::first-letter {
    font-family: "Syne", sans-serif;
    font-size: 42px;
    font-weight: 200;
    float: left;
    padding: 10px 10px;
    line-height: 50%;
    border-radius: 5px;
}

.banner-image {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 5px solid rgb(255, 149, 0);
}

#alt-section {
    grid-column: 1/-1;
    background-color: #034c5421;
    margin-top: 25px;
    padding: 15px;
}

.line {
    grid-column: 1/-1;
    border-top: 1px solid #034c5443;
    margin-top: 40px;
    padding-top: 25px;
}

footer {
    text-align: center;
    margin-bottom: 25px;
    opacity: 75%;
}

footer p {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-align: center;
}

